body {display: flex;
    background: #F3AC3C;
    justify-content: center;
    align-items: center; 
}
div {
    width: 200px;
    height: 200px;
    background: #1A4341;
}
.c1 {
    width: 100px;
    height: 100px;
    background: #F3AC3C;
    border-radius: 0 0 100%; 
}
.c2 {
    width: 100px;
    height: 100px;
    background: #F3AC3C;
    border-radius: 0 100% 0 0; 
}
.c3 {
    margin-left: 100px;
    margin-top:-200px;
    width: 100px;
    height: 100px;
    background: #F3AC3C;
    border-radius: 0 0 0 100%; 
}
.c4 {
    margin-left: 100px;
    width: 100px;
    height: 100px;
    background: #F3AC3C;
    border-radius: 100% 0 0 0; 
  }

